.wrap {
    width:95%;
    margin:50px auto 0;
}
.title {
    font-size:1.3em;
    font-weight: 600;
    background: #fac463;
    padding: 20px 20px;
    margin-bottom: 20px;
    color: #fff;
}
.answerMargin {

}
.InputBox {
    margin-bottom:7px;
}
.bottmline {
    position: relative;
    margin-bottom:40px;
}
.flex {
    display: flex;
    justify-content: start;
    margin:0 0 100px;
}
.bottmline::after {
    content: '';
    background-color: #ddd;
    width:100%;
    height:1px;
    position:absolute;
    left:0;
    top:35px;
}
.InputBox span:nth-child(1) {
    display: inline-block;
    text-align: right;
    width:55px;
    font-weight: 600;
    font-size: 0.9em;
}
.InputBox span {
    margin-right:10px;
}
.InputBox .width {
    width:100%;
}
.titleInput {
    border:1px solid #ddd;
    border-radius: 10px;
    width:100%;
    height:50px;
    padding:0 20px;
}
.textarea {
    margin:10px 0 30px;
    border:1px solid #ddd;
    border-radius: 10px;
    width:100%;
    height:300px;
    padding:20px;
}
.wrap > a,
.answerBtn {
    width:100px;
    height:40px;
    border-radius: 10px;
    background-color: #fac463;
    color:#fff;
    margin-right:5px;
    font-weight:600;
}
.linkBtn {
    display:inline-block;
    text-align: center;
    line-height:38px;
}

/* mail custom */
.wrap > a {
    display: block;
    line-height:39px;
    text-align: center;
}
.contentBox {
    display: flex;
    justify-content: start;
    align-items: start;
}
.contentBox > span {
    font-weight: 600;
    width:60px;
    text-align: right;
    margin-right:20px;
    padding : 5px 0 0;
}
.contentBox > div,
.contentBox > input {
    width:100%;
    height:40px;
    border: 1px solid #eee;
    margin-bottom:10px;
    border-radius: 5px;
    padding:0 20px;
}
.contentBox > div {
    width:80%;
    margin-right:10px;
}
.contentBox:nth-child(3) > input {
    border:none;
}
.contentBox textarea {
    border: 1px solid #eee;
    border-radius: 5px;
    height:400px;
    width:100%;
    padding:20px;
}
.btnCenter {
    display: block;
    margin:30px auto 0;
}

.contentBox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}