.att-sys-button {
  width: 200px;
  height: 30px;
}

/* .h1 {
    margin:0; padding:0;
    font-size:2.0em; 
    font-weight:bold; line-height:3;
    letter-spacing: -0.3px;
}

.nav ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0; 

  }
  
  .nav ul:not(:last-child) {
    margin-right: 10px; 
  } */

.attendance-system {
  display: flex;
  flex-direction: column;
  align-items: center;
}