 .calendar-wrapper {
   display: flex;
 }

 .checkbox-wrapper {
   display: flex;
   flex-direction: column;
   margin-right: 1rem;

 }

 .react-calendar {
   width: 500px;
   height: 500px;
 }

 .react-calendar__month-view__days__day {
   display: table-cell;
   font-size: 11px;
   height: 80px;
   vertical-align: top;
   position: relative;
 }

 .absent {
   background-color: #FFA1A1;
 }

 .late {
   background-color: #FFDC9D;
 }

 .attend {
   background-color: #a2b0f6;
 }

 .out {
   background-color: #868686;
 }

 .early {
   background-color: #b6d7b4;
 }

 .present {
   background-color: red !important;
   color: white;
 }

 .attendance-manage-container {
   align-items: center;
 }

 .attcheck p {
   margin-right: 20px;
 }

 .weather-description {
   font-size: 10px;
   color: #888;
   text-align: center;
 }

 .eduNav {
   align-items: center;
   display: flex;

 }

 .AttendanceDate {
   text-align: center;
 }

 .AttendanceDate h2 {
   font-weight: bold;
   margin: 1em 0;
   background-color: white;
   position: relative;
   display: inline-block;
   padding: 0 15px;
   color: #555;
   padding-top: 5px;
   padding-bottom: 5px;
   vertical-align: middle;
 }

 .AttendanceDate h2:after,
 .AttendanceDate h2:before {
   display: block;
   border-bottom: 2px solid #ccc;
 }

 .attendance-month:before {
   content: "";
   border-top: 2px solid white;
   position: absolute;
   width: 300%;
   top: 35%;
   left: -100%;
   z-index: -999;
 }

 .attendance-month:after {
   content: "";
   border-bottom: 2px solid white;
   position: absolute;
   width: 300%;
   bottom: 35%;
   left: -100%;
   z-index: -999;
 }

 div.Attcheckboxes input[type="checkbox"] {
   appearance: none;
   border: 2px solid rgb(168, 157, 150);
   border-radius: 30%;
   width: 18px;
   height: 18px;
   display: inline-block;
   position: relative;
   margin-right: 10px;
   margin-left: 5px;
   cursor: pointer;
 }

 div.Attcheckboxes input[type="checkbox"]:checked::before {
   content: '\2714';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #555;
   font-weight: bold;
 }

 div.Attcheckboxes label {
   font-size: 15px;
   color: #555;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
 }

 [Att-tooltip],
 [Abs-tooltip] {
   position: relative;
 }

 [Att-tooltip]:before,
 [Att-tooltip]:after,
 [Abs-tooltip]:before,
 [Abs-tooltip]:after {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   white-space: nowrap;
   transition: all .2s ease;
   font-size: 11px;
   font-family: dotum;
   letter-spacing: -1px;
   z-index: 100;
 }

 [Att-tooltip]:before {
   content: attr(Att-tooltip);
   height: 13px;
   position: absolute;
   top: -20px;
   padding: 5px 10px;
   border-radius: 5px;
   color: #fff;
   background: #898472;
   box-shadow: 5 5px 15px rgba(165, 165, 165, 1);
 }

 [Abs-tooltip]:before {
   content: attr(Abs-tooltip);
   height: 13px;
   position: absolute;
   top: -20px;
   padding: 5px 10px;
   border-radius: 5px;
   color: #fff;
   background: #898472;
   box-shadow: 5 5px 15px rgba(165, 165, 165, 1);
 }

 [Att-tooltip]:after,
 [Abs-tooltip]:after {
   content: '';
   border-left: 5px solid transparent;
   top: 2px;
   border-right: 5px solid transparent;
   border-top: 5px solid #6a6256;
 }

 [Att-tooltip]:not([Att-tooltip=""]):hover:before {
   visibility: visible;
   opacity: 1;
   top: -30px
 }

 [Att-tooltip]:not([Att-tooltip=""]):hover:after {
   visibility: visible;
   opacity: 1;
   top: -8px
 }

 [Abs-tooltip]:not([Abs-tooltip=""]):hover:before {
   visibility: visible;
   opacity: 1;
   top: -30px
 }

 [Abs-tooltip]:not([Abs-tooltip=""]):hover:after {
   visibility: visible;
   opacity: 1;
   top: -8px
 }