.charts-container {
    display: flex;
    justify-content: space-between;
}

.chart {
    width: 49%;
}

.attendance-rate-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.attendance-rate-chart {
    flex: 0 0 auto;
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edu_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.edu_nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.edu_nav li {
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.2s ease;

}

.edu_nav li.active {
    background-color: #80735e;
    color: white;
}

.edu_nav li:hover {
    background-color: #80735e;
    color: white;
}