.item-0 {
    margin-left: -1100px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;

}

.item-1 {
    margin-left: 50px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.item-2 {
    margin-left: 50px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.item-3 {
    margin-top: 250px;
    margin-left: -755px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.item-4 {
    margin-top: 250px;
    margin-left: 50px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.item-5 {
    margin-left: 60px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.eduwritebtn {
    width: 300px;
    height: 50px;
    color: #fff;
    background: #fbca73;
    font-weight: 600;
    border-radius: 10px;
}

.eduwritebtn:hover {
    border: 2px solid #fbca73;
    background: #fff;
    color: #434343;
}

.eduinfotitle::before {
    margin-left: -53px;
}
.eduinfotitle {
    font-weight: 500;
}

.eduinfonav-1 {
    width: 305px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    padding-top: 19px;
    text-align: center;
    transition: all 0.6s ease-out;
}

.eduinfonav-1:active {
    border: 2px solid #434343;
}


.eduinfonav-1>h3 {
    margin-top: -13px;
}

.eduinfonav-1:hover {
    transform: translateY(-15px);
}

.eduinfonav-2 {
    width: 210px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding-top: 19px;
    text-align: center;
    transition: all 0.6s ease-out;
}
.eduinfonav-2>h3 {
    margin-top: -13px;
}

.eduinfonav-2:hover {
    transform: translateY(-15px);
}

.eduinfonav-3 {
    width: 210px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding-top: 19px;
    text-align: center;
    transition: all 0.6s ease-out;
}

.eduinfonav-3>h3 {
    margin-top: -13px;
}

.eduinfonav-3:hover{
    transform: translateY(-15px);
}

.navwrapper {
    display: flex;
    margin-top: -100px;
    margin-left: 85px;
}
.contentwrapper{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}