.lecmain {
    width: 1200px;
    height: 500px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lecBtn {
    width: 210px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 9px;
    border-radius: 4px;
    background-color: #fbca73;
    color: white;
    height: 31px;
}

.lecBtn:hover {
    border: 2px solid #fbca73;
    background-color: white;
    color: #434343;
}
.lectable {
    margin-top: 28px;
    width: 977px;
    height: 400px;
    font-size: 18px;
}
.fontWrapper {
    width: 980px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: -82px;
    color: #434343;
}

.ser {
    font-size: 4.7em;
    cursor: pointer;
}

.ser:hover{
    color: #fbca73;
}

.serlist {
    display: block;
    font-size: 24px;
    border-bottom: 2px solid #4343;
    width: 1000px;
    text-align: left;
    margin-left: -94px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.servhr {
    height: 2px;
    border: 0;
    background: #434343;
}

.contentwrapper {
    display: block;
    margin-top: 20px;
    margin-left: 69px;
}

.ptag {
    margin-bottom: 10px;
}

.ptag>a {
    color: #555;
}
.ptag>p{
    margin-top: -21px;
    margin-left: 22px;
}
.ptag>svg {
    color: #fbca73;
}

.modalcss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 950px;
    height: 500px;
    margin: auto;
}
.modalcss>p{
    font-size: 20px;
    line-height: 1.5;
}
.searchBtn {
    width: 75px;
    height: 32px;
    color: #fff;
    background: #fbca73;
    font-weight: 600;
    border-radius: 10px;
}
.searchBtn:hover {
    border: 2px solid #fbca73;
    background: #fff;
    color: #434343;
}

.lecsearchbtn {
    border-radius: 4px;
    width: 94px;
}

.lecsearchbtn:hover {
    border: 2px solid #fac463;
    background: white;
    color: #444;
}


