.title, .subject {
    margin-left: 60px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid lightgray;
}

input:hover {
    border-bottom: 2px solid dodgerblue;
}

.subjectCode {
    margin-left: 60px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid lightgray;
}
.file {
    margin-left: 60px;
}

.content {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 91px;
    width: 922px;
    height: 400px;
}

.writer, .regdate {
    margin-left: 42px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid lightgray;
}
.ck-blurred {
    height: 200px;
}

.ck-blurred:active {
    height: 200px;
}

.btnwrapper {
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;

}

button {
    width: 90px;
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: dodgerblue;
    color: white;
}