.topContent > h2 {
    font-size:2.2em;
    font-weight:900;
}
.topContent {
    margin:50px 0 20px 55px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.topContent > a:hover {
    color:#fff;
}
.btnWrap > a:hover {
    color:#fff;
}
.search {
    position:relative;
    border:1px solid #434343;
    border-radius: 12px;
}
.search > input {
    height:40px;
    width:400px;
    font-size:0.9em;
    padding:0 15px 0 120px;
}
.search select {
    position:absolute;
    left:0;
    top:0;
    width:100px;
    height:40px;
    padding:0 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border:none;
    font-size:0.9em;
    line-height:2.9;
    color:#fff;
    background: url(../../../../public/img/searchMenuW.png) no-repeat 86% 50% #434343;
    background-size:10px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}
.search select::-ms-expand {
    display: none;
}
.search .searchBtn {
    position:absolute;
    right:0;
    top:0;
    color:#fff;
    background: url(../../../../public/img/searchBtnIcon.png) no-repeat 50% 50% #434343;
    text-indent: -9999px;
    width:40px;
    height:40px;
    background-size:15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.btnWrap {
    display:flex;
    align-items: center;
}
.eduAdd {
    background-color: #fac463;
    padding:0 10px 5px;
    height:40px;
    line-height:39px;
    border-radius: 5px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.eduAdd > em {
    color:#fff;
    font-size:1.4em;
    padding-top:3px;
}
.eduAdd > span {
    color:#fff;
    font-weight: 600;
    margin-left:10px;
    padding-top:5px;
    font-size:0.85em;
}
.eduAdd:nth-child(2) {
    margin-left:5px;
}
.btnWrap .del {
    background-color: #e80000;
}

/* 테이블 공통 css */
.manageList {
    margin:0 5%;
    table-layout: fixed;
    width: 95%;
}
.manageList > thead > tr {position:relative; height:80px;}
.manageList > thead > tr::after {
    content: "";
    width:100%;
    height:1px;
    position:absolute;
    left:0;
    top:70px;
    background-color: #a0a0a0;
}
.manageList > thead > tr > th,
.manageList > tbody > tr > td  {
    text-align: center;
    font-size:0.9em;
}
.manageList > thead > tr > th {
    font-weight: 500;
    font-size:0.9em;
}
.manageList > thead > tr > th:nth-last-child(1) {
    width:11%;
}
.manageList > tbody > tr {
    height:50px;
}
.manageList > tbody > tr > td .Edit,
.manageList > tbody > tr > td .detail,
.manageList > tbody > tr > td .Del {
    display:block;
    background: none;
    width:30px;
    border-radius: 5px;
    color:#fff;
    height:20px;
    font-size:1.2em;
    font-weight: 500;
}
.manageList > tbody > tr > td .Edit {
    color: #376efa;
    line-height:19px;
    margin-right:5px;
}
.manageList > tbody > tr > td .detail {
    color: #fac463;
    line-height:19px;
    margin-right:5px;
    font-size:1.5em;
}
.manageList > tbody > tr > td .Del {
    color: #e80000;
}


/* EduManage 테이블 크기조절 */
.edulist > thead > tr > th:nth-child(1) {
    width:10%;
    font-weight: 600;
}
.edulist > thead > tr > th:nth-child(2) {width:25%;}
.edulist > thead > tr > th:nth-child(3) {width:35%;}
.edulist > thead > tr > th:nth-child(4) {width:15%;}
.edulist > thead > tr > th:nth-child(5) {width:10%;}
.edulist > tbody > tr > td:nth-last-child(1) {
    display: flex;
    justify-content: center;
    position:relative;
    top:15px;
}

/* SubjectManage 테이블 크기조절 custom */
.sublist > thead > tr > th:nth-child(1) {
    width:10%;
    font-weight: 600;
}
.sublist > thead > tr > th:nth-child(2) {width:20%;}
.sublist > thead > tr > th:nth-child(3) {width:10%;}
.sublist > thead > tr > th:nth-child(4) {width:15%;}
.sublist > thead > tr > th:nth-child(5) {width:15%;}
.sublist > thead > tr > th:nth-child(6) {width:15%;}
.sublist > thead > tr > th:nth-child(7) {width:15%;}
.sublist > tbody > tr > td:nth-last-child(1) {
    display: flex;
    justify-content: center;
    position:relative;
    top:15px;
}
/* TeacherManage 테이블 크기조절 custom */
.teacherlist > thead > tr > th:nth-child(1) {
    width:5%;
}
.teacherlist > thead > tr > th:nth-child(2) {
    width:10%;
    font-weight: 600;
}
.teacherlist > thead > tr > th:nth-child(3) {width:25%;}
.teacherlist > thead > tr > th:nth-child(4) {width:10%;}
.teacherlist > thead > tr > th:nth-child(5) {width:15%;}
.teacherlist > thead > tr > th:nth-child(6) {width:15%;}
.teacherlist > thead > tr > th:nth-child(7) {width:15%;}
.teacherlist > tbody > tr > td:nth-last-child(1) {
    display: flex;
    justify-content: center;
    position:relative;
    top:15px;
}

/* SendMailManage 테이블 크기조절 custom */
.maillist > thead > tr > th:nth-child(1) {
    width:3%;
}
.maillist > thead > tr > th:nth-child(2) {
    width:20%;
}
.maillist > thead > tr > th:nth-child(3) {width:60%;}
.maillist > thead > tr > th:nth-child(4) {width:17%;}

.maillist > tbody > tr > td:nth-child(2), 
.maillist > tbody > tr > td:nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    -webkit-line-clamp: 3;
    line-height: 49px;
    padding:0 5px;
}
.maillist > tbody > tr > td:nth-child(3) {
    text-align:left;
    padding : 0 20px;
}

/* QnAManage 테이블 크기조절 custom */
.qnalist > thead > tr > th:nth-child(1) {
    width:10%;
}
.qnalist > thead > tr > th:nth-child(2) {width:15%;}
.qnalist > thead > tr > th:nth-child(3) {width:55%;}

.qnalist > tbody > tr > td:nth-child(2), 
.qnalist > tbody > tr > td:nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    -webkit-line-clamp: 3;
    line-height: 49px;
    padding:0 5px;
}
.qnalist > tbody > tr > td:nth-child(3) {text-align:left;}
.qnalist > thead > tr > th:nth-child(4) {width:10%;}
.qnalist > tbody > tr > td:nth-child(5) > span:first-child {
    display:inline-block;
    background-color: #e80000;
    width:10px;
    height:10px;
    border-radius: 50%;
    margin-right:5px;
}
.qnaReply {background-color: #188231 !important;}
