.pagination {
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.active > * {
    color:#FAC463;
    font-weight: 600;
    font-size:1em !important;
}
.pagination > li {
    width:20px;
    text-align: center;
}
.pagination > li > * {
    font-size:0.9em;
}
.svg-inline--fa {
    font-size:0.7em;
}