.answer {
    width: 1200px;
    height: 500px;
    margin: -10px auto 0;
    align-items: center;
    font-size: 18px;
}

.answertable {
    width: 900px;
    height: 260px;
    margin: auto;
    margin-left: 200px;
    text-align: left;
}

.ph2 {
    margin-left: 300px;
    margin-top: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #434343;
}
.ph2>svg {
    color: #fbca73;
}

.tablewrapper {
    width: 900px;
    height: 260px;
    margin-left: 200px;
    margin-top: -40px;

}

.answertablet {
    width: 727px;
    height: 260px;
    margin: auto;
    text-align: left;
    margin-left: 85px;
}

.ph2a {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #434343;
}
.ph2a>svg {
    color: #fbca73;
}

.btwrapper {
    text-align: center;
    margin-left: 591px;
    margin-top: 30px;
}

.servtext{
    width: 630px;
    height: 180px;
    margin: auto;
    border: none;

}

.resetbtn {
    border-radius: 4px;
    margin-right: 15px;
}