.servicelist{
    width: 1200px;
    height: 500px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fontWrapper {
    width: 980px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: -82px;
    color: #434343;
}

.servh2 {
    font-size: 2em;
    color: #434343;
    font-weight: bold;
    margin-left: 46px;
    margin-top: -33px;
}
.ser {
    font-size: 4.7em;
    cursor: pointer;
}

.ser:hover{
    color: #fbca73;
}

.serlist {
    display: block;
    font-size: 24px;
    border-bottom: 2px solid #4343;
    width: 1000px;
    text-align: left;
    margin-left: -94px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.servhr {
    height: 2px;
    border: 0;
    background: #434343;
}

.contentwrappers {

    position: fixed;
    left: 690px;
    top: 150px;

}

.ptag {
    margin-bottom: 10px;
}

.ptag>a {
    color: #555;
}
.ptag>p{
    margin-top: -21px;
    margin-left: 22px;
}
.ptag>svg {
    color: #fbca73;
}

.modalcss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 950px;
    height: 500px;
    margin: auto;
}
.modalcss>p{
    font-size: 20px;
    line-height: 1.5;
}
.answerbtn {
    font-size: 1em;
    font-weight: bold;
    background: #fbca73;
    border-radius: 4px;
    width: 130px;
    height: 36px;
    color: white;
}
.answerbtna:hover {
    color: #434343;
}
.answerbtn:hover {
    border: 2px solid #fbca73;
    color: #434343;

}