* {
    font-family: 고딕, arial;
}
.tasklist {
    width: 1200px;
    height: 500px;
    margin: 110px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbtn:hover {
    border-right: 2px solid #fac463;
    background-color: #fac56357;
    color: #ff6b3f;
}
.taskh2 {
    color: #434343;
    margin-top: -157px;
    font-size: 2em;
    font-weight: bold;
    margin-left: -17px;

}
